<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Light">
        <activity
            android:name=".Points.ToDoneEventView"
            android:exported="false" />

        <activity
            android:name=".Points.AllEventsView"
            android:exported="false" />
        <activity
            android:name=".events.ui.view.CreateEventsActivity"
            android:exported="false" />
        <activity
            android:name=".Points.PointsAchievment"
            android:exported="false" />
        <activity
            android:name=".Points.PointsView"
            android:exported="false" />
        <activity
            android:name=".Login.Register"
            android:exported="false" />
        <activity
            android:name=".DashboardBar.Dashboard"
            android:exported="false" />
        <activity
            android:name=".Login.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Login.EditProfile"
            android:exported="false" />
        <activity
            android:name=".calenderView.DailyCalendarActivity"
            android:exported="true" />
        <activity android:name=".events.EventEditActivity" />
        <activity android:name=".calenderView.WeekViewActivity" />
        <activity
            android:name=".calenderView.MainActivity"
            android:exported="true" />
    </application>

</manifest>